# データの永続化

# SQLite
・軽量データベースを実装するC言語のライブラリ
・サーバ用のプロセスを必要としない。組み込み型のデータベースエンジン.
・単一のファイルによって管理される（インメモリも可能）

In [1]:
import sqlite3

In [2]:
import sqlite3

# DBファイルの保存先パス (相対パスで指定)
path = ''

# Google Colabの場合
# path = '/content/'

# DBファイル
db_name = 'test.db'

# DB接続の確立
# DBファイルが存在しない場合は新規作成される
conn = sqlite3.connect(path + db_name)

# DBへの接続を閉じる
conn.close()

### こういうデータベースを作成してみる

car.db

| id | name | price |
| :--- | :--- | :--- |
| | | |
| | | |

### DB（SQLite）を使う時の処理の流れ

1. DBへのコネクションを確立
2. コネクションオブジェクトからデータ操作用のカーソルオブジェクトを取得
3. 実行したいSQLを定義
4. SQLを実行
5. 必要があればコミットする
6. コネクションを閉じる

# テーブルを作成

In [6]:
import sqlite3

path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # SQL文の作成
    # テーブルの作成
    sql = 'CREATE TABLE cars (id INT, name TEXT, price REAL);'

    # SQL文の実行
    cur.execute(sql)

    # DBへの接続を閉じる
    conn.close()
except Exception as e:
    print(f"エラーが発生しました: {e}")

エラーが発生しました: table cars already exists

# データをDBに挿入する（単一レコード）

In [8]:
import sqlite3

path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # データを更新するSQL
    # UPDATE テーブル名 SET カラム名=更新値 WHERE 更新したい行を指定する条件;
    sql = "UPDATE cars SET price = ? WHERE id = ?;"

    # SQL文の実行
    # (5000000, 2) がそれぞれ ? に代入されます
    cur.execute(sql, (5000000, 2))

    # 変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)

finally:
    # DBへの接続を閉じる
    conn.close()